.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

#mensaje
{
	width: 100%;
	height: 20px;
}

#campos-lightbox
{
	height: auto;
	width: 98%;
	padding: 10px;
	background-color: #58FAF4;
	float: left;
}

#campos-lightbox #relleno-campo
{
	height: 60px;
	width: 100%;
	margin-top: 15px;
	float: left;
}

#campos-lightbox #relleno-campo .campobase
{
	height: 50px;
	width: 80px;
	background-color: #82FA58;
	padding: 5px;
	float: left;
	cursor: pointer;
}

#campos-lightbox .campos
{
	height: 50px;
	width: 80px;
	background-color: #82FA58;
	margin-right: 25px;
	margin-top: 15px;
	padding: 5px;
	float: left;
	cursor: pointer;
}



.black_overlay_mensaje
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:2001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content_mensaje 
{
	display: none;
	position: absolute;
	top: 25%;
	left: 42%;
	width: 200px;
	height: 200px;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:2002;
	overflow: auto;
}

.black_overlay_cargando
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:2001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content_cargando 
{
	display: none;
	position: absolute;
	top: 25%;
	left: 42%;
	width: 200px;
	height: 200px;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:2002;
	overflow: auto;
}

#barraCargando
{
	height: 200px;
	width: 100%;
	float: left;
}

#posicionCargando
{
	height: 200px;
	width: 200px;
	background-image: url("../img/cargando.gif");
	float: left;
}